/*  Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

/* Page style */
body {
  background-color: #0b1d26;
  color: #ffffff;
}

.wrapper {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 80px;
}
.wrapper__bg {
  position: absolute;
  width: 1330px;
  max-height: 1160px;
  left: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Break points map */
/*  Header-nav  */
.header-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
  padding-top: 60px;
}

.logo {
  font-family: "Libre Baskerville", serif;
  font-size: 32px;
}

.menu {
  display: flex;
  width: 283px;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.login {
  display: flex;
  align-items: center;
}
.login__icon {
  height: 24px;
}
.login__text {
  padding-left: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

/*  Header-content  */
.header-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 400px;
}

.social {
  display: flex;
  flex-direction: column;
}
.social__text {
  display: flex;
  writing-mode: vertical-lr;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  margin: 24px 0;
}
.social__icon {
  margin-bottom: 24px;
  cursor: pointer;
}

.text-accent {
  display: flex;
  font-family: "Roboto", sans-serif;
  color: #fbd784;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.text-accent::before {
  position: relative;
  top: -9.6px;
  width: 72px;
  margin-right: 32px;
  content: "";
  border-bottom: 2px solid #fbd784;
  vertical-align: middle;
}

.title {
  width: 800px;
  font-family: "Libre Baskerville", serif;
  font-size: 60px;
  font-weight: 700;
  padding: 32px 0;
}

.scroll {
  display: flex;
  width: 24px;
  cursor: pointer;
}
.scroll__text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-right: 16px;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: right;
}
.slider__link {
  padding: 21.7px 72px 21.7px 0;
  border-right: 3px solid rgba(255, 255, 255, 0.5098039216);
}
.slider__link:hover {
  border-right: 3px solid #ffffff;
}

@media ((max-width: 575px)) {
  .wrapper {
    padding: 0 5px;
  }
  .wrapper__bg {
    display: block;
    width: 100%;
  }
  .header-nav {
    display: grid;
    grid-template-columns: auto auto;
    padding: 30px 0;
    margin-bottom: 0;
  }
  .menu {
    display: none;
  }
  .login__text {
    font-size: 17px;
  }
  .header-content {
    display: block;
    padding: 0 5px;
    margin-bottom: 200px;
  }
  .social {
    display: none;
  }
  .text-accent {
    padding: 70px 0 10px 0;
    font-size: 18px;
  }
  .text-accent::before {
    position: relative;
    top: -9.6px;
    width: 45px;
    margin-right: 16px;
    content: "";
    border-bottom: 2px solid #fbd784;
    vertical-align: middle;
  }
  .title {
    width: 100%;
    font-size: 45px;
    padding: 28px 0;
  }
  .scroll__text {
    font-size: 17px;
  }
  .slider {
    display: none;
  }
}
@media ((min-width: 576px) and (max-width: 767px)) {
  .wrapper {
    padding: 0 10px;
  }
  .wrapper__bg {
    display: block;
    width: 100%;
  }
  .header-nav {
    margin-bottom: 150px;
    padding-top: 30px;
  }
  .logo {
    font-size: 30px;
  }
  .header-content {
    margin-bottom: 300px;
  }
  .social__text {
    margin: 20px 0;
  }
  .social__icon {
    margin-bottom: 10px;
  }
  .accent {
    padding: 0 35px;
  }
  .text-accent {
    font-size: 15px;
  }
  .text-accent::before {
    position: relative;
    top: -9.6px;
    width: 50px;
    margin-right: 25px;
    content: "";
    border-bottom: 2px solid #fbd784;
    vertical-align: middle;
  }
  .title {
    width: 100%;
    font-size: 40px;
  }
  .slider__link {
    padding: 21.7px 30px 21.7px 0;
  }
}
@media ((min-width: 768px) and (max-width: 1023px)) {
  .wrapper {
    padding: 0 20px;
  }
  .wrapper__bg {
    display: block;
    width: 100%;
  }
  .header-nav {
    margin-bottom: 180px;
    padding-top: 50px;
  }
  .header-content {
    margin-bottom: 300px;
  }
  .accent {
    padding: 0 45px;
  }
  .text-accent {
    font-size: 16px;
  }
  .text-accent::before {
    position: relative;
    top: -9.6px;
    width: 60px;
    margin-right: 30px;
    content: "";
    border-bottom: 2px solid #fbd784;
    vertical-align: middle;
  }
  .title {
    width: 100%;
    font-size: 43px;
  }
  .slider__link {
    padding: 21.7px 30px 21.7px 0;
  }
}
@media ((min-width: 1024px) and (max-width: 1279px)) {
  .wrapper {
    padding: 0 20px;
  }
  .header-content {
    margin-bottom: 300px;
  }
  .accent {
    padding: 0 40px 0 35px;
  }
  .text-accent::before {
    position: relative;
    top: -9.6px;
    width: 65px;
    margin-right: 30px;
    content: "";
    border-bottom: 2px solid #fbd784;
    vertical-align: middle;
  }
  .title {
    width: 100%;
    font-size: 52px;
  }
  .slider__link {
    padding: 21.7px 30px 21.7px 0;
  }
}
/* Content-block */
.content-block {
  position: relative;
}

.content-item_left {
  display: flex;
  margin-bottom: 150px;
}

.content-item_right {
  display: flex;
  margin-bottom: 150px;
}

.number-title {
  color: rgba(229, 229, 229, 0.1254901961);
  font-family: "Roboto", sans-serif;
  font-size: 300px;
  position: absolute;
  line-height: 250px;
}

.number_right {
  left: 500px;
}

.content_left {
  margin: 116px 50px auto 100px;
}

.content_right {
  margin: 116px 0 auto 150px;
}

.content__title {
  margin-top: 27px;
  font-family: "Libre Baskerville", serif;
  font-size: 50px;
  font-weight: 400;
}

.content__text {
  margin-top: 27px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  line-height: 150%;
}

.more {
  display: flex;
  margin-top: 27px;
  cursor: pointer;
}
.more__text {
  font-family: "Roboto", sans-serif;
  font-style: 18px;
  font-weight: 700;
  color: #fbd784;
  padding-right: 16px;
}

.image {
  height: 600px;
}
.image_right {
  display: flex;
  justify-content: end;
}
.image_left {
  display: flex;
  justify-content: start;
}

@media ((max-width: 575px)) {
  .wrapper {
    padding: 0 5px;
  }
  .wrapper__bg {
    display: block;
    width: 100%;
  }
  .content-block {
    position: relative;
  }
  .content-item_left {
    display: block;
    margin-bottom: 80px;
  }
  .content-item_right {
    display: block;
    margin-bottom: 80px;
  }
  .number-title {
    position: absolute;
    font-size: 160px;
    line-height: 130px;
  }
  .number_right {
    left: 0;
    padding-top: 15px;
  }
  .content_left {
    margin: 25px 5px auto 10px;
  }
  .content_right {
    margin: 25px 5px auto 10px;
  }
  .content__title {
    margin: 20px 0 0 15px;
    font-size: 48px;
  }
  .content__text {
    margin-top: 27px;
    font-size: 16px;
  }
  .more {
    margin: 27px 0 10px 0;
  }
  .more__text {
    font-style: 16px;
  }
  .image {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 10px auto;
  }
}
@media ((min-width: 576px) and (max-width: 767px)) {
  .wrapper {
    padding: 0 10px;
  }
  .wrapper__bg {
    display: block;
    width: 100%;
  }
  .content-item_left {
    margin-bottom: 100px;
  }
  .content-item_right {
    margin-bottom: 100px;
  }
  .number-title {
    font-size: 150px;
    line-height: 180px;
  }
  .number_right {
    left: 320px;
  }
  .content_left {
    margin: 80px 25px auto 30px;
  }
  .content_right {
    margin: 80px auto auto 55px;
  }
  .content__title {
    margin-top: 20px;
    font-size: 35px;
  }
  .content__text {
    margin-top: 20px;
    font-size: 15px;
  }
  .more {
    margin-top: 20px;
  }
  .more__text {
    font-size: 15px;
  }
  .image {
    height: 390px;
  }
}
@media ((min-width: 768px) and (max-width: 1023px)) {
  .wrapper {
    padding: 0 20px;
  }
  .wrapper__bg {
    display: block;
    width: 100%;
  }
  .content-item_left {
    margin-bottom: 120px;
  }
  .content-item_right {
    margin-bottom: 120px;
  }
  .number-title {
    font-size: 200px;
    line-height: 180px;
  }
  .number_right {
    left: 380px;
  }
  .content_left {
    margin: 80px 50px auto 50px;
  }
  .content_right {
    margin: 100px auto auto 50px;
  }
  .content__title {
    margin-top: 23px;
    font-size: 40px;
  }
  .content__text {
    margin-top: 23px;
    font-size: 16px;
  }
  .more {
    margin-top: 23px;
  }
  .more__text {
    font-size: 16px;
  }
  .image {
    height: 450px;
  }
}
@media ((min-width: 1024px) and (max-width: 1279px)) {
  .wrapper {
    padding: 0 20px;
  }
  .content-item_left {
    margin-bottom: 130px;
  }
  .content-item_right {
    margin-bottom: 130px;
  }
  .number-title {
    font-size: 300px;
    line-height: 220px;
  }
  .number_right {
    left: 450px;
  }
  .content_left {
    margin: 150px 80px auto 90px;
  }
  .content_right {
    margin: 150px auto auto 100px;
  }
  .content__title {
    margin-top: 25px;
    font-size: 45px;
  }
  .content__text {
    margin-top: 25px;
    font-size: 18px;
  }
  .more {
    margin-top: 25px;
  }
  .more__text {
    font-size: 18px;
  }
  .image {
    height: 550px;
  }
}
/* Footer-block */
.footer-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.footer-info__logo {
  width: 120px;
  padding: 7px 0;
  margin-bottom: 24px;
}
.footer-info__text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  width: 310px;
  line-height: 200%;
  margin-bottom: 60px;
}

.copyright {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5098039216);
}

.footer-links {
  display: flex;
}

.links-column {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.links-column:first-child {
  margin-right: 50px;
}
.links-column__title {
  color: #fbd784;
  padding: 7px 0 20px 0;
}
.links-column__item {
  cursor: pointer;
  padding-bottom: 20px;
}

@media ((max-width: 575px)) {
  .wrapper {
    padding: 0 5px;
  }
  .wrapper__bg {
    display: block;
    width: 100%;
  }
  /* Footer-block */
  .footer-block {
    display: inline-block;
    margin-bottom: 100px;
  }
  .footer-info__logo {
    padding: 7px 0;
    margin-bottom: 24px;
  }
  .footer-info__text {
    font-style: 20px;
    margin-bottom: 60px;
  }
  .copyright {
    font-size: 18px;
  }
  .footer-links {
    display: none;
  }
}
@media ((min-width: 576px) and (max-width: 767px)) {
  .wrapper {
    padding: 0 10px;
  }
  .wrapper__bg {
    display: block;
    width: 100%;
  }
  .footer-info__logo {
    margin-bottom: 10px;
  }
  .footer-info__text {
    font-size: 15px;
    margin-bottom: 30px;
  }
  .copyright {
    font-size: 15px;
  }
  .links-column {
    font-size: 15px;
  }
  .links-column:first-child {
    margin-right: 35px;
  }
  .links-column__title {
    padding: 7px 0 10px 0;
  }
  .links-column__item {
    padding-bottom: 10px;
  }
}
@media ((min-width: 768px) and (max-width: 1023px)) {
  .wrapper {
    padding: 0 20px;
  }
  .wrapper__bg {
    display: block;
    width: 100%;
  }
  .footer-info__logo {
    margin-bottom: 15px;
  }
  .footer-info__text {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .copyright {
    font-size: 16px;
  }
  .links-column {
    font-size: 16px;
  }
  .links-column:first-child {
    margin-right: 45px;
  }
  .links-column__title {
    padding: 7px 0 10px 0;
  }
  .links-column__item {
    padding-bottom: 12px;
  }
}
@media ((min-width: 1024px) and (max-width: 1279px)) {
  .wrapper {
    padding: 0 20px;
  }
  .footer-info__logo {
    margin-bottom: 20px;
  }
  .footer-info__text {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .copyright {
    font-size: 18px;
  }
  .links-column {
    font-size: 18px;
  }
  .links-column:first-child {
    margin-right: 100px;
  }
  .links-column__title {
    padding: 8px 0 12px 0;
  }
  .links-column__item {
    padding-bottom: 12px;
  }
}/*# sourceMappingURL=style.css.map */