$bg-color: #0b1d26;
$text-color: #ffffff;
$number-color: #e5e5e520;
$accent-color: #fbd784;
$slider-color: #ffffff82;
$font-roboto: 'Roboto', sans-serif;
$font-baskerville: 'Libre Baskerville', serif;

/*  Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}
a {
  color: $text-color;
  text-decoration: none;
}

/* Page style */
body {
  background-color: $bg-color;
  color: $text-color;
}
.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 80px;
  background-image: url(img/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

/*  Header-nav  */
.header-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
  padding-top: 60px;
}
.logo {
  font-family: $font-baskerville;
  font-size: 32px;
}
.menu {
  display: flex;
  width: 283px;
  justify-content: space-between;
  align-items: center;
  font-family: $font-roboto;
  font-size: 18px;
}
.login {
  display: flex;
  align-items: center;
}
.login__icon {
  height: 24px;
}
.login__text {
  padding-left: 8px;
  font-family: $font-roboto;
  font-size: 17px;
}

/*  Header-content  */
.header-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 400px;
}
.social {
  display: flex;
  flex-direction: column;
}
.social__text {
  display: flex;
  writing-mode: vertical-lr;
  font-family: $font-roboto;
  font-size: 17px;
  margin: 24px 0;
}
.social__icon {
  margin-bottom: 24px;
  cursor: pointer;
}
.text-accent {
  display: flex;
  font-family: $font-roboto;
  color: $accent-color;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.line {
  &:before {
    position: relative;
    top: -9.6px;
    width: 72px;
    margin-right: 32px;
    content: '';
    border-bottom: 2px solid $accent-color;
    vertical-align: middle;
  }
}
.title {
  width: 800px;
  font-family: $font-baskerville;
  font-size: 60px;
  font-weight: 700;
  padding: 32px 0;
}
.scroll {
  display: flex;
  width: 24px;
  cursor: pointer;
}
.scroll__text {
  font-family: $font-roboto;
  font-weight: 700;
  font-size: 18px;
  margin-right: 16px;
}
.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: $font-roboto;
  font-weight: 700;
  font-size: 18px;
  text-align: right;
}
.slider__link {
  padding: 21.7px 72px 21.7px 0;
  border-right: 3px solid $slider-color;

  &:hover {
    border-right: 3px solid $text-color;
  }
}

/* Content-block */
.content-block {
  position: relative;
}
.content-item_left {
  display: flex;
  margin-bottom: 150px;
}
.content-item_right {
  display: flex;
  margin-bottom: 150px;
}
.number-title {
  color: $number-color;
  font-family: $font-roboto;
  font-size: 300px;
  position: absolute;
  line-height: 250px;
}
.number_right {
  left: 500px;
}
.content_left {
  margin: 116px 50px auto 100px;
}
.content_right {
  margin: 116px 0 auto 150px;
}
.content__title {
  margin-top: 27px;
  font-family: $font-baskerville;
  font-size: 50px;
  font-weight: 400;
}
.content__text {
  margin-top: 27px;
  font-family: $font-roboto;
  font-style: 18px;
  font-weight: 400;
  text-align: justify;
  line-height: 150%;
}
.more {
  display: flex;
  margin-top: 27px;
  cursor: pointer;
}
.more__text {
  font-family: $font-roboto;
  font-style: 18px;
  font-weight: 700;
  color: $accent-color;
  padding-right: 16px;
}
.image {
  height: 600px;
}
.img_right {
  display: flex;
  justify-content: end;
}
.img_left {
  display: flex;
  justify-content: start;
}

/* Footer-block */
.footer-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
.footer-info__logo {
  width: 120px;
  padding: 7px 0;
  margin-bottom: 24px;
}
.footer-info__text {
  font-family: $font-roboto;
  font-style: 18px;
  font-weight: 700;
  width: 310px;
  line-height: 200%;
  margin-bottom: 60px;
}
.copyright {
  font-family: $font-roboto;
  font-style: 18px;
  font-weight: 500;
  color: $slider-color;
}
.footer-links {
  display: flex;
}
.links-column {
  display: flex;
  flex-direction: column;
  font-family: $font-roboto;
  font-style: 18px;
  &:first-child {
    margin-right: 50px;
  }
}
.links-column__title {
  color: $accent-color;
  padding: 7px 0 20px 0;
}
.links-column__item {
  cursor: pointer;
  padding-bottom: 20px;
}
