$bg-color: #0b1d26;
$text-color: #ffffff;
$number-color: #e5e5e520;
$accent-color: #fbd784;
$slider-color: #ffffff82;
$font-roboto: 'Roboto', sans-serif;
$font-baskerville: 'Libre Baskerville', serif;

/*  Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}
a {
  color: $text-color;
  text-decoration: none;
}

@mixin line($width, $right) {
  position: relative;
  top: -9.6px;
  width: $width;
  margin-right: $right;
  content: '';
  border-bottom: 2px solid $accent-color;
  vertical-align: middle;
}

/* Page style */
body {
  background-color: $bg-color;
  color: $text-color;
}
.wrapper {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 80px;
  &__bg {
    position: absolute;
    width: 1330px;
    max-height: 1160px;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }
}

/* Break points map */
$breakpoints: (
  'sm': '(min-width: 576px) and (max-width: 767px)',
  'md': '(min-width: 768px) and (max-width: 1023px)',
  'lg': '(min-width: 1024px) and (max-width: 1279px)',
  'xl': '(min-width: 1280px)',
);

@mixin desktop() {
  @media (map-get($breakpoints, lg)) {
    .wrapper {
      padding: 0 20px;
      &__bg {
        width: max-content;
      }
    }
    @content;
  }
}
@mixin tablet() {
  @media (map-get($breakpoints, md)) {
    .wrapper {
      padding: 0 20px;
      &__bg {
        width: max-content;
      }
    }
    @content;
  }
}
@mixin mobile() {
  @media (map-get($breakpoints, sm)) {
    .wrapper {
      padding: 0 10px;
      &__bg {
        width: max-content;
        max-height: 1000px;
      }
    }
    @content;
  }
}

@import './header/index', 'content/index', 'footer/index';
