$bg-color: #0b1d26;
$text-color: #ffffff;
$number-color: #e5e5e520;
$accent-color: #fbd784;
$slider-color: #ffffff82;
$font-roboto: 'Roboto', sans-serif;
$font-baskerville: 'Libre Baskerville', serif;

/*  Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}
a {
  color: $text-color;
  text-decoration: none;
}

/* Page style */
body {
  background-color: $bg-color;
  color: $text-color;
}
.wrapper {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 80px;
  &__bg {
    position: absolute;
    width: 1330px;
    max-height: 1160px;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }
}

@import 'header/header';
@import 'content/content';
@import 'footer/footer';
